
.wrap {
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    height: 1100px;
    width: 800px;
}

.header {
    height: 150px;
    width: 100%;
    background: #4f442f;
    margin-bottom: 20px;

}

.dast {
    height: 800px;
    width: 100%;
    display: flex;

}

.menu {
    background: darkturquoise;
    display: flex;
    height: 800px;
    width: 250px;
}

.item {
    display: flex;
    flex-direction: column;
    height: 800px;
    width: 550px;
}

.post {
    background: cornflowerblue;
    margin-left: 20px;
}

.a {
    height: 400px;
    width: 530px;
    margin-bottom: 20px;
}

.b {
    height: 400px;
    width: 530px;
}

.footer {
    background: chocolate;
    height: 150px;
    width: 100%;
    margin-top: 20px;
}