.wrap {
    display: flex;
    flex-direction: column;
    height: 950px;
    width: 650px;
}

.post {
    height: 450px;
    width: 650px;
    display: flex;
    margin-top: 20px;
    margin-bottom: 20px;
}

.home {
    background: darkturquoise;
    height: 450px;
    width: 325px;
    margin-right: 20px;
}

.about {
    background: darkturquoise;
    height: 450px;
    width: 325px;
}

.kabobs {
    background: darkturquoise;
    height: 300px;
    width: 100%;
    margin-bottom: 20px;
}

.item {
    display: flex;
    height: 250px;
    width: 100%;
    justify-content: space-between;
}

.shikard {
    background: cornflowerblue;
    height: 250px;
    width: 200px;
}

.bbqkard {
    background: cornflowerblue;
    height: 250px;
    width: 200px;
}

.summkard {
    background: cornflowerblue;
    height: 250px;
    width: 200px;
}

