@media screen and (max-width: 400px) {
    .header_menu {
        display: none;
    }

    .header_logo img {
        width: 50px;
    }

    .wrapper {
        max-width: 340px;
        padding: 0 10px;
    }

    .header_top {
        padding-top: 20px;
    }

    .nav_btn_mobile {
        display: flex;
    }

    .header_title {
        text-align: center;
    }

    .header_title h2 {
        font-size: 30px;
        line-height: 36px;
        margin-left: 0;
    }

    .header_title h1 {
        font-size: 40px;
        line-height: 46px;
    }

    .header_title p::before,
    .header_title p::after {
        display: none;
    }

    .header_box {
        margin-top: 124px;
        row-gap: 14px;
        margin-right: 0;
        margin-left: 0;
    }

    .magical {
        width: 290px;
        height: 276px;
        margin: 0 15px 0 15px;
        flex-grow: 1;
        padding-bottom: 20px;
        position: relative;
        bottom: -140px;
    }

    .magical p {
        font-size: 22px;
        line-height: 25px;
        padding: 6px 20px 0 20px;
    }

    .quality {
        width: 290px;
        height: 276px;
        flex-grow: 1;
        margin: 0 15px 0 15px;
        padding-bottom: 20px;
        position: relative;
        bottom: -140px;
    }

    .quality p {
        font-size: 22px;
        line-height: 25px;
        padding: 6px 80px 0 80px;
    }

    .cheap {
        width: 290px;
        height: 276px;
        margin: 0 15px 0 15px;
        padding-bottom: 15px;
        position: relative;
        bottom: -140px;
    }

    .cheap p {
        font-size: 22px;
        line-height: 25px;
        padding: 6px 60px 0 60px;
    }
}