body {
    background: rgba(115, 115, 217, 0.97);
}
p.targ {
    background: #0fd33c;
}
.target {
    background: aqua;
}
.point {
    font-size: 60px;
}
ol:hover {
    color: crimson;
}
.cent {
    text-align: center;
}
.descript {
    text-align: justify;
}
img {
    border: 5px solid blue;
}