body {
    padding: 0;
    margin: 0;
}

.father {
    display: flex;
    flex-direction: column;
}

.header_top {
    width: 1920px;
    height: 36px;
    left: 0px;
    top: 0px;
    background: #0F2438;
    display: flex;
    padding-left: 286px;
    padding-right: 283px;
    justify-content: space-between;
    align-items: center;
    text-decoration: #FFFFFF;
}

.header_top_left {
    display: flex;
    justify-content: space-evenly;
    padding-right: 280px;
    width: 900px;
}

.header_top_right {
    display: flex;
    justify-content: space-evenly;
    width: 1000px;
}

.nav_item a {
    text-decoration: none;
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    color: #FFFFFF;
}

.target {
    display: flex;
}

.item {
    padding-left: 20px;
}

.box_top_esche {
    display: none;
}


.header_menu {
    background: cornflowerblue;
    display: flex;
    flex-direction: column;
    padding-left: 283px;
    padding-right: 283px;
}

.header_menu_boxtop {
    background: #656363;
    display: flex;
    padding: 28px 0 25px 0;
}

.menu_name {
    background: #C4C4C4;
    display: flex;
    width: 249px;
    margin-right: 98px;
}

.name_text h2 {
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 28px;
    color: #0F2438;
}

.name_text p {
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 14px;
    color: #0F2438;
}

.menu_time {
    background: #C4C4C4;
    width: 258px;
    display: flex;
    align-items: center;
    margin-right: 93px;
}

.time_text p {
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 20px;
    text-align: right;
    color: #0F2438;
    padding-top: 20px;
}

.menu_adress {
    background: #C4C4C4;
    width: 170px;
    display: flex;
    align-items: center;
    margin-right: 61px;
}

.adress_text p {
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    color: #0F2438;
    padding-top: 10px;
    padding-left: 5px;
}

.menu_whatsapp {
    background: #C4C4C4;
    width: 204px;
    display: flex;
    align-items: center;
    margin-right: 68px;
}

.whatsapp_text p {
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 14px;
    text-align: right;
    padding: 20px 16px 10px 6px;
    color: #000000;
}

.menu_contact {
    background: #C4C4C4;
    width: 157px;
    display: flex;
    align-items: center;

}

.contact_text h3 {
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 23px;
    color: #0F2438;
}

.contact_text p {
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 14px;
    text-decoration-line: underline;
    color: #0F2438;
    opacity: 0.7;
    padding-left: 24px;

}