@media screen and (max-width: 768px) {
    .header_top {
        width: 768px;
        height: 37px;
        padding-left: 22px;
        padding-right: 16px;
    }

    .header_top_left {
        display: flex;
        justify-content: space-evenly;
        width: auto;
    }

    .header_top_right {
        display: none;
    }

    .box_top_esche {
        display: flex;
        justify-content: start;
    }

    }
