.wrap {
    background: #0fd33c;
    display: flex;
    flex-direction: column;
    height: 900px;
    width: 1200px;
}

.header {
    height: 200px;
    width: 100%;
    background: #4f442f;
}

.nav {
    height: 150px;
    width: 100%;
    background: blueviolet;
}

.item {
    display: flex;
    height: 500px;
    width: 100%;
}

.mein {
    height: 500px;
    width: 900px;
    background: cornflowerblue;
}

.aside {
    height: 500px;
    width: 300px;
    background: darkseagreen;
}

.footer {
    height: 150px;
    width: 100%;
    background: chocolate;
}